body {
	background-repeat: no-repeat;
	background-size: cover;
}

.well {
	border: 5px solid gray;
	margin: auto;
	width: 60%;
	border-radius: 0;
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, 0.8);	
}

.font{
	font-family: Candara;
	font-size: 50px;
	letter-spacing: 20px;
	text-align: center;
	color: white;
	font-weight: bold;

}

.imglogo{
	height: 140px;
	width: 140px;
	border-radius: 100%;
	display: block;
}

#navTop {
	margin-top: 6%;
	margin-bottom: -5%;
}

#navTop li a:hover {
    color: #6cdeff;
}

#navTop li a {
	color: white;
}

.breadcrumb {
	background-color: transparent;
}

.foodLabel {
	text-align: center;
	font-size: 18px;
	font-family: corbel;
	color: white;
	font-weight: bold;
	margin: auto;
	border: 5px solid gray;
	padding: 5px;

}

.food {
	width: 100%;
	height: 100%;
	border-right: 5px solid gray;
	border-left: 5px solid gray;
	border-bottom: 5px solid gray;
}	