.imglogo{
						height: 140px;
						width: 140px;
						border-bottom-left-radius: 100%;
						border-bottom-right-radius: 100%;
						border-top-right-radius: 100%;
						border-top-left-radius: 100%;
						display: block;

					}
					tr{
						
						border-collapse: collapse;
						

					}
					
					table{
						border-top: 5px solid gray;
						border-left: 5px solid gray;
						border-right: 5px solid gray;
						margin: auto;
						width: 55%;
						border-collapse: collapse;
						background-color: rgba(0, 0, 0, 0.8);
					
						

					}
					.font{
						font-family: candara;
						font-size: 50px;
						letter-spacing: 20px;
						text-align: center;
						color: white;
						
					}
					.logo{
						width: 20%;
						padding-left: 20px;
						padding-top: 5px;
						padding-bottom: 5px;
						
					}
					body{
						background-image: url("Pic/bak.jpg");
						background-repeat: no-repeat;
						background-size: cover;
					}
					.nav{
						width: 10%;
						text-align: center;
						font-family: corbel;
						border-right: 2px solid gray;
						color: white;
						
						
					}
					.rec{
						text-decoration: none;
						width: 10%;
						text-align: center;
						font-family: corbel;
						color: white;
					}
					.last{
						width: 10%;
						text-align: center;
						font-family: corbel;
						color: white;
					}
					.nav:hover{
						background-color: white;
						color: rgb(0, 0, 0);
					}
					.last:hover{
						background-color: white;
						color: rgb(0, 0, 0);
					}
					.newtable{
						margin-top: 20px;
						
						letter-spacing: 3px;
						width: 55%;
						border-bottom: 5px solid gray;
						background-color: rgba(0, 0, 0, 0.7);
						
					}
					.newtd{
						border-bottom: 5px solid gray;
						text-align: center;
						border-right: 3px solid gray;
						width: 10%;
						font-size: 18px;
						font-family: corbel;
						color: white;
						font-weight: bold;
						padding-top: 5px;
						padding-bottom: 5px;
					}
					.food{
						width: 100%;
					}


					.sectd{
						text-align: center;
						padding-top: 5px;
						padding-bottom: 5px;
						width: 10%;
						font-size: 18px;
						font-family: corbel;
						border-bottom: 5px solid gray;
						letter-spacing: 3px;
						color: white;
						font-weight: bold;
						border-right: 3px solid gray;
					}
					.sectable{
						margin-top: 20px;
						width: 55%;
						background-color: rgba(0, 0, 0, 0.7);
						border-bottom: 5px solid gray;
					}
					.newtd:hover{
						background-color: white;
						color: rgb(0, 0, 0);
					}
					.sectd:hover{
						background-color: white;
						color: rgb(0, 0, 0);
					}
					.rec:hover{
						background-color: white;
						color: rgb(0, 0, 0);
					}